<html>
<body >
    <div id="home">
    <h1 style="text-align:center;font-size: xxx-large;font-weight: bold;color:black;">StockMarket App</h1>
<div class="container">
    <div class="container">
        <div class="row>">
            <div class="column">
        <a class="nav-link" [routerLink]="['/adminlogin']"><img src="assets/admin.png"> </a>
    </div>
    <div class="column">
        <a class="nav-link" [routerLink]="['/userlogin']"><img src="assets/user.png"></a>
    </div>
</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
</div>
</body>
</html>

































<!-- <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=50%, initial-scale=1">
 

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
<head>
    <body> -->
  
        <!-- <body style="background-color : #C0BFBF;" id="home">  -->
            
<!-- </body> -->

<!-- <div class="container">
    <div class="container">
        
            
        <a class="nav-link" [routerLink]="['/adminlogin']"><button class="btn btn-primary">Admin</button></a>
   
   
        <a class="nav-link" [routerLink]="['/userlogin']"><button class="btn btn-primary">User</button></a>

    </div>
</div> -->

<!-- <button class="btn btn-primary" [routerLink]="['/adminlogin']">Admin</button>
<button class="btn btn-primary" [routerLink]="['/userlogin']">User</button> -->
