<!-- <h1>User Login Component</h1>

<div class="container">
    <a class="nav-link" [routerLink]="['']"><button class="btn btn-primary btn-block">Back</button></a>
</div>
<div class="container">
    <div class="card-body">
        <h3 class="card-title">Sign In</h3>
        <div class="container">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="required">
            </div>
            <div>
                {{errmsg}}
            </div>
            <div>
                <button class="btn btn-primary btn-block" type="submit" (click)="Login()">Log In</button>
                <button class="btn btn-primary btn-block" type="submit" (click)="resetForm()">Reset</button>
                <br><br><br>
                <a class="nav-link" [routerLink]="['/signup']"><button class="btn btn-primary btn-block">Register User</button></a>
            </div>
        </div>
    </div>
</div> -->
<!-- <html>
<body >
<h1 >Admin Login Component</h1>

 <div class="container">
    <a class="nav-link" [routerLink]="['']"><button class="btn btn-primary btn-block">Back</button></a>
</div> -->
<!-- <div class="container">
    <div class="card-body">
        <h3 class="card-title">Sign In</h3>
        <div class="container">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="admin" placeholder="Admin" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="required">
            </div>
            <div>
                {{errmsg}}
            </div>
            <div>
                <button class="btn btn-primary btn-block" type="submit" (click)="Login()">Log In</button>
                <button class="btn btn-primary btn-block" type="submit" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</div>
</body>
</html> --> 

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form  class="box">
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
                    <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="username" placeholder="username" required="required" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="required" [ngModelOptions]="{standalone: true}">
                </div>
                
                     <a class="forgot text-muted" href="#">Forgot password?</a> 
                     <button class="btn btn-primary btn-block" type="submit" (click)="Login()">Log In</button>
                     <a class="nav-link" [routerLink]="['/signup']"><button class="btn btn-primary btn-block">Register User</button></a>
                     <!-- <input type="submit" name="" value="Login" href="#"> -->
                    <!-- <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>