<!-- <div>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">StockMarket</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userlogin']">Login</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/signup']">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/managecompany']">Manage Company</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/stockexchange']">Manage StockExchange</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userlogin']">Import Data</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/barchart']">BarChart</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/adminlogin']">Admin</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/userviewcompany']">User View Company</a></li>
        </ul>
    </div>
  </nav>
</div>
<br><br><br> 

<app-barchart-demo>-->
  
    <router-outlet></router-outlet>
    
  <!-- <app-appbase>

  </app-appbase> -->
